.beskrivning {
    max-width: 800px;
    height: 160px;
    word-break: break-word;
    margin-left: "25px";
    mask-image: linear-gradient(to bottom, black 60%, transparent 100%);
}

.produktbild {
    max-width: 100px;
    max-height: 160px;
}

#img {
    min-width: 100px;
}

.kort-produkt:hover {
    cursor: pointer;
}

.card {
    max-width: 350px;
}
  
